.wrapper {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    inset: 0;
    backdrop-filter: blur(12px);
    background: rgba(121, 156, 212, 0.5);
    z-index: 20;
}

.loader {
    width: 150px;
    height: 150px;
}
