@import "src/assets/styles/variables/_spacing";
@import "src/assets/styles/variables/_font";

.wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
    width: 100%;
    max-width: 539px;
    padding: 64px 85.5px;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.15);
    background: var(--character-light-primary-inverse);
    border-radius: 2px;
    z-index: 15;
}

.icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;

    span {
        font-size: 71px;
    }

    &_full {
        width: auto;
        height: auto;
    }
}

.info {
    display: flex;
    flex-direction: column;
    flex: 1 1 100%;
}

.title {
    width: 100%;
    font-weight: $FW-medium;
    font-size: $font-xl;
    line-height: 130%;
    text-align: center;
    color: var(--character-light-title-85);
    margin-bottom: $offset-0;
}

.description {
    margin-bottom: $offset-0;
    font-weight: $FW-regular;
    font-size: $font-sm;
    line-height: 130%;
    text-align: center;
    color: var(--character-light-secondary-45);
}

.verification {
    display: flex;
    flex-direction: column;
    gap: 24px;
    justify-content: center;

    &_text {
        font-weight: $FW-regular;
        font-size: $font-sm;
        line-height: 130%;
        text-align: center;
        color: var(--character-light-secondary-45);
    }

    &_container {
        height: 40px;
    }

    &_character {
        width: 40px;
        height: 40px;
        border: 1px solid var(--character-light-border);
        border-radius: 2px;

        &_inactive {
            border: 1px solid var(--character-light-border);
            border-radius: 2px;
            background: var(--character-light-primary-inverse);
        }

        &_filled {
            font-family: var(--font-family);
            font-weight: $FW-regular;
            font-size: $font-base;
            line-height: 40px;
            text-align: center;
            color: var(--character-light-title-85);
        }
    }
}

.error {
    border: 1px solid var(--character-light-error);
}

.boxShadow_unset {
    box-shadow: none;
}
