.wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
    width: 100%;
    max-width: 539px;
    padding: 64px 85.5px;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.15);
    background: var(--character-light-primary-inverse);
    border-radius: 2px;
    z-index: 15;
}

.icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;

    span {
        font-size: 71px;
    }
}

.title {
    font-weight: 500;
    font-size: 24px;
    line-height: 130%;
    text-align: center;
    color: var(--character-light-title-85);
    margin-bottom: 0;
}

.description {
    font-weight: 400;
    font-size: 14px;
    line-height: 130%;
    text-align: center;
    color: var(--character-light-secondary-45);
}
