@import "src/assets/styles/_mixins.scss";

.wrapper {
    display: flex;
    flex-direction: column;
    padding: 24px 24px 42px;
    height: calc(100vh - 50px);
    max-height: 100vh;


    @include md {
        padding: 24px 16px;
    }
}
