@import "src/assets/styles/_mixins.scss";
@import "src/assets/styles/variables/_spacing";
@import "src/assets/styles/variables/_font";


.wrapper {
    padding: $offset-24 $offset-24;
    max-width: 800px;

    p {
        margin-bottom: $offset-0;
    }

    @include md {
        padding: $offset-24 $offset-16;
    }
}

.description {
    :global {
        .ant-card {
            font-size: $font-base;
            line-height: 130%;
            color: var(--primary-light-9);
        }

        .ant-card-body {
            @include md {
                padding: $offset-16 $offset-30 $offset-16 $offset-16;
            }
        }
    }
}

.heading {
    margin-top: $offset-24;

    :global {
        .ant-typography {
            margin-bottom: $offset-0;
            font-weight: $FW-medium;
            font-size: $font-lg;
            line-height: 130%;
            color: var(--character-light-title-85);
        }

        .ant-card-body {
            @include md {
                padding: $offset-16 $offset-30 $offset-16 $offset-16;
            }
        }
    }
}

.cards {
    display: flex;
    column-gap: 16px;
    row-gap: 8px;
    justify-content: space-between;
    margin-top: $offset-16;

    @include sm {
        flex-direction: column;
    }
}

.action_card {
    max-width: 240px;
    width: 100%;

    @include sm {
        max-width: 100%;
    }

    :global {
        .ant-card {
            width: 100%;
        }

        .ant-card-head {
            display: flex;
            justify-content: center;
        }

        .ant-card-head-title {
            padding: 11px 0;
            font-size: $font-base;
            line-height: 130%;
            white-space: pre-wrap;
            color: var(--character-light-title-85);
        }

        .ant-card-body {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: $offset-0 $offset-0;
            height: 56px;
            font-size: $font-sm;
            line-height: 130%;
            text-align: center;
            color: var(--primary-light-6);
        }
    }
}
