@import "src/assets/styles/_mixins.scss";

.header {
    color: var(--character-light-title-85);

    :global {
        .ant-layout-header {
            display: flex;
            flex-direction: column;
            height: auto;
            gap: 8px;
            padding: 0 24px 16px 24px;
            background: var(--primary-light-1);

            @include xs {
                gap: 0;
            }
        }

        h1.ant-typography {
            margin-right: auto;
            margin-bottom: 6px !important;
            margin-top: 0;
            font-weight: 700;
            font-size: 38px;
            line-height: 120%;

            @include lg {
                font-weight: 500;
                font-size: 24px;
            }

            @include xs {
                font-size: 20px;
                font-weight: 500;
            }
        }

        .ant-btn-text {
            padding-top: 0;
            height: 20px;
            line-height: 16px;
        }
    }
}
