@import "src/assets/styles/_mixins.scss";
@import "src/assets/styles/variables/_spacing";
@import "src/assets/styles/variables/_font";

.header {
    color: var(--character-light-title-85);

    :global {
        .ant-layout-header {
            display: flex;
            flex-direction: column;
            height: auto;
            gap: 8px;
            padding: $offset-0 $offset-24 $offset-16 $offset-24;
            background: var(--primary-light-1);

            @include xs {
                gap: 0;
            }
        }

        h1.ant-typography {
            margin-right: auto;
            margin-bottom: $offset-6 !important;
            margin-top: $offset-0;
            font-weight: $FW-bold;
            font-size: $font-xxl;
            line-height: 120%;

            @include lg {
                font-weight: $FW-medium;
                font-size: $font-xl;
            }

            @include xs {
                font-size: $font-lg;
                font-weight: $FW-medium;
            }
        }

        .ant-btn-text {
            padding-top: $offset-0;
            height: 20px;
            line-height: 16px;
        }
    }
}
