@import "src/assets/styles/variables/_spacing";
@import "src/assets/styles/variables/_font";

.breadcrumbs {
    padding: $offset-16 $offset-0 $offset-16 $offset-24;
    background: var(--primary-light-1);
    line-height: 130%;
    color: var(--character-light-title-85);

    :global {
        .ant-typography {
            font-weight: $FW-regular;
            font-size: $font-sm;
            color: var(--character-light-title-85);
        }
    }

    &_from {
        :global(.ant-typography) {
            color: var(--character-light-secondary-45);
        }
    }

}

.divider {
    margin: $offset-0 $offset-8;
    color: var(--character-light-secondary-45)
}



