@import "src/assets/styles/_mixins.scss";
@import "src/assets/styles/variables/_spacing";
@import "src/assets/styles/variables/_font";

.footer {
    padding-bottom: $offset-42;

    :global {
        .ant-layout-footer {
            display: flex;
            justify-content: space-between;
            align-items: end;
            width: 100%;
            padding: $offset-0 $offset-24;
            background: transparent;

            @include sm {
                flex-direction: column-reverse;
                align-items: center;
                row-gap: 24px;
                padding: $offset-0 $offset-16;
            }
        }
    }

    .reviews {
        font-weight: $FW-regular;
        font-size: $font-base !important;
        line-height: 130%;
        text-align: center;
        color: var(--primary-light-6);
    }
}

.wrapper {
    display: flex;
    flex-direction: column;
    gap: 8px;

    p {
        margin-bottom: $offset-0;
    }
}

.title {
    font-size: $font-base;
    font-weight: $FW-regular;
    line-height: 130%;
    color: var(--primary-light-6);
}

.subtitle {
    font-size: $font-sm;
    font-weight: $FW-regular;
    line-height: 130%;
    color: var(--character-light-secondary-45);
}
